@model IEnumerable<WebUI.Models.UserViewModel>

@{
    ViewData["Title"] = "KYCStatus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>  
   
   table {
	border-collapse: collapse;
    font-family: Tahoma, Geneva, sans-serif;
    margin:auto;
}
table td {
	padding: 15px;
}
table thead th {
	background-color: #54585d;
	color: #ffffff;
	font-weight: bold;
	font-size: 13px;
	border: 1px solid #54585d;
}
table tbody td {
	color: #636363;
	border: 1px solid #dddfe1;
}
table tbody tr {
	background-color: #f9fafb;
}
table tbody tr:nth-child(odd) {
	background-color: #ffffff;
} 
</style>  
<div style="margin:10px 30% 0px 10px;">
<h1>KYC Status</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.Sex)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.PasswordHash)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.UpdatedOn)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.UpdatedBy)
            </th>*@
            <th>KYC Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MobileNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                @*<td>
            @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.PasswordHash)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.UpdatedOn)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.UpdatedBy)
            </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.KYCStatus)
                </td>
                @*<td>
            <a asp-action="Edit" asp-route-id="@item.UserId">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.UserId">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.UserId">Delete</a>
            </td>*@
            </tr>
        }
    </tbody>
</table>
</div>